.main {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(var(--Rocket-League-3-hex), var(--Rocket-League-1-hex));
}

.players {
    display: flex;
    grid-gap: 5rem;

    background: initial;
}

.player {
    width: 15vw;
    height: 50vh;

    background-image: url(./teste.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    border: 1px solid var(--Rocket-League-1-hex);
    border-radius: 2rem;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-size: 3rem;
}