.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(var(--Rocket-League-3-hex), var(--Rocket-League-1-hex));
}

.container h1 {
    font-size: 5rem;
    color: var(--Rocket-League-5-hex);
    text-shadow: 0 .5rem 2rem var(--Rocket-League-5-hex);
}

.container button {
    position: absolute;
    bottom: 1rem;
    
    background: initial;
    
    cursor: pointer;

    animation: AnimationButton 1s linear infinite;
    animation-delay: 4s;
    animation-fill-mode: backwards;
}

.cards {
    margin: 5rem 0;

    display: flex;
    grid-gap: 5rem;
}

.player {
    width: 15vw;
    height: 50vh;

    background: var(--Rocket-League-3-hex);
    background-image: url(../../images/teste.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    border: .3rem solid var(--Rocket-League-3-hex);
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem var(--Rocket-League-4-hex), 0 0 5rem var(--Rocket-League-1-hex);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    animation: DownUp 1s linear;
    animation-fill-mode: backwards;

    transition: 1s;
}

.player:hover {
    border-color: var(--Rocket-League-5-hex);
}

.player h3 {
    font-size: 3rem;
    font-weight: 400;
}

.player:hover h3 {
    width: 100%;
    border-radius: .5rem;

    background: linear-gradient(transparent, var(--Rocket-League-5-hex));

    text-align: center;
}

.championship-infos {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--Rocket-League-1-hex);
}

.content-table {
    min-width: 80vw;
    margin: 2.5rem 0;
    border-collapse: collapse;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 1rem 2rem var(--Rocket-League-4-hex), 0 0 5rem var(--Rocket-League-1-hex);
    overflow: hidden;

    font-size: 3rem;
    font-weight: 200;
}

.content-table thead tr {
    background: var(--Rocket-League-3-hex);
    text-align: left;
}

.content-table th {
    width: 9rem;
    padding: 1.2rem 1.5rem;

    font-weight: 500;
    color: var(--Rocket-League-4-hex);
}

.content-table td {
    padding: 1.2rem 1.5rem;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 5px solid var(--Rocket-League-3-hex);
}

.championship-infos img {
    width: 5rem;
}