.container {
    min-height: 100vh;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(var(--Rocket-League-3-hex), var(--Rocket-League-1-hex));

    position: relative;

    scroll-snap-align: start;
}

.container h1 {
    font-size: 5rem;
    color: var(--Rocket-League-5-hex);
    text-shadow: 0 .5rem 2rem var(--Rocket-League-5-hex);
    text-align: center;
}

.container button {
    position: absolute;
    bottom: 0rem;
    
    background: initial;
    
    cursor: pointer;

    animation: AnimationButton 1s linear infinite;
    animation-delay: 4s;
    animation-fill-mode: backwards;
}

.cards {
    margin: 5rem 0;

    display: flex;
    grid-gap: 5rem;
}

.player {
    width: clamp(14rem, 15vw, 30rem);
    height: clamp(20rem, 50vh, 50rem);

    background: var(--Rocket-League-3-hex);
    background-image: url(../../images/teste.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    border: .3rem solid var(--Rocket-League-3-hex);
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem var(--Rocket-League-4-hex), 0 0 5rem var(--Rocket-League-1-hex);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    animation: DownUp 1s linear;
    animation-fill-mode: backwards;

    transition: 1s;
}

.player:hover {
    border-color: var(--Rocket-League-5-hex);
}

.player img {
    width: clamp(3rem, 4vw, 6rem);
    height: clamp(3rem, 4vw, 6rem);
}

.player h3 {
    font-size: 3rem;
    font-weight: 400;
}

.player:hover h3 {
    width: 100%;
    border-radius: .5rem;

    background: linear-gradient(transparent, var(--Rocket-League-5-hex));

    text-align: center;
}

@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
    }

    .player {
        width: 60vw;
    }
}