.login-admin {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(var(--Rocket-League-3-hex), var(--Rocket-League-1-hex));
}

.login-admin form {
    padding: 2rem;

    border-radius: 2rem;
    box-shadow: 0 2rem 2rem var(--Rocket-League-3-hex), 0 0 5rem var(--Rocket-League-1-hex);

    display: flex;
    flex-direction: column;
    grid-gap: 5rem;
    align-items: center;

    background: #FFF;
}

.logIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logIn h1 {
    font-size: 4rem;
    font-weight: 500;
    color: black;
}

.logIn h2 {
    font-size: 2.5rem;
    font-weight: 200;
    color: black;
}

.login-admin input {
    margin-bottom: -3rem;

    border: 1px solid #dddddd;
    border-radius: 2rem;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);

    font-size: 3rem;
    text-align: center;
    color: black;
}

.login-admin button {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background: var(--Rocket-League-3-hex);
    border-radius: 2rem;

    font-size: 3rem;
    
    cursor: pointer;
}

.login-admin button:hover {
    opacity: 0.9;
}

.login-admin button svg {
    position: absolute;
    right: 1rem;
}

.championship-infos {
    min-height: 100vh;
}

.reset {
    margin: 10rem 0 1rem;
    padding: .5rem;

    border-radius: 50%;

    display: flex;
    align-items: center;

    background: var(--Rocket-League-4-hex);

    cursor: pointer;
}

.reset:hover {
    opacity: 0.8;
}

.content-table {
    margin: 0;
}

.register-new-match {
    margin: 2rem;
    border-bottom: 1px solid var(--Rocket-League-4-hex);

    display: flex;
    grid-gap: .5rem;
    align-items: center;

    background: initial;

    cursor: pointer;
}

.new-match-none {
    display: none;
}

.new-match {
    width: 30%;
    padding: 2rem;

    border-radius: 1rem;
    box-shadow: 1px 2px 3px var(--Rocket-League-5-hex), 0 0 5px var(--Rocket-League-4-hex);

    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    align-items: center;

    background: var(--Rocket-League-5-hex);
}

.new-match button {
    width: 90%;

    background: var(--Rocket-League-3-hex);
    border-radius: 1rem;

    font-size: 2rem;

    cursor: pointer;
}

.form-new-match {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-new-match select {
    padding: 1rem;

    background: var(--Rocket-League-3-hex);
    border-radius: 1rem;

    font-size: 2rem;
    color: var(--Rocket-League-4-hex);
}

.form-new-match input {
    width: 10%;

    background: initial;

    font-size: 2rem;
}

.form-new-match input:nth-child(2) {
    text-align: end;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

@media screen and (max-width:768px) {
    .new-match {
        width: 90%;
    }

    .form-new-match select {
        padding: .5rem;
    }

    .new-match button {
        width: 100%;
    }
}