.main {
    height: 100vh;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.championship-infos {
    min-height: 100vh;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    background: var(--Rocket-League-3-hex);

    scroll-snap-align: start;
}

.championship-infos img {
    width: clamp(15rem, 15vw, 20rem);
    height: 10vh;
    position: absolute;
    top: 2rem;
}

.table {
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem var(--Rocket-League-4-hex), 0 0 5rem var(--Rocket-League-1-hex);

    display: flex;
    align-items: center;
    justify-content: center;
}

.classification {
    width: 15vw;

    border-collapse: collapse;
    overflow: hidden;

    font-size: 2.5rem;
    font-weight: 200;
}

.classification thead tr {
    text-align: left;
}

.classification th {
    width: 9rem;
    padding: 1.2rem 1.5rem;

    font-weight: 500;
    color: var(--Rocket-League-4-hex);
}

.classification tbody tr {
    border-bottom: 1px solid #dddddd;
}

.classification tbody tr:last-of-type {
    border-bottom: 0px;
}

.classification td {
    padding: 1.2rem 1.5rem;
}

.classification td h3 {
    display: flex;
    grid-gap: 1rem;
    align-items: center;

    font-size: 2.5rem;
    font-weight: 400;
}

.classification td p {
    font-size: 2rem;
}

.content-table {
    width: 50vw;

    border-collapse: collapse;
    overflow: hidden;

    font-size: 2.5rem;
    font-weight: 200;
}

.content-table thead tr {
    text-align: left;
}

.content-table th {
    width: 9rem;
    padding: 1.2rem 1.5rem;

    font-weight: 500;
    color: var(--Rocket-League-4-hex);
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 0px;
}

.content-table td {
    padding: 1.2rem 1.5rem;
}

.content-table td p {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .main {
        scroll-snap-type: none;
    }

    .table {
        width: 100%;
    }

    .classification {
        width: auto;
    }

    .classification th {
        font-size: 2rem;
    }

    .classification td h3 {
        text-transform: uppercase;
    }

    .content-table {
        width: auto;

        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .content-table th {
        font-size: 2rem;
    }
}